@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-destaurated-blue: hsl(229, 23%, 23%);
  --drak-grayesh-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

body {
  background: url(../images/bg-pattern-bottom.svg) bottom -600px right -150px
      no-repeat,
    url(../images/bg-pattern-top.svg) top -500px left -200px no-repeat;
  background-color: hsl(185, 75%, 39%);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}

.card {
  width: 400px;
  background-color: white;
  border-radius: 15px;
  position: relative;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
}

.img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.profile {
  text-align: center;
}

.profile-pic {
  transform: translateY(-50px);
  border-radius: 50%;
  border: 5px solid white;
}

.details {
  margin-top: -30px;
  text-align: center;
  font-family: "Kumbh Sans", sans-serif;
}

h1 {
  color: var(--very-dark-destaurated-blue);
  font-weight: 700;
  font-size: x-large;
}

.age,
.place {
  color: var(--dark-gray);
  font-weight: 400;
}

.place {
  margin-top: 10px;
  text-align: center;
}

hr {
  color: var(--dark-gray);
  margin-top: 20px;
  opacity: 0.3;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  text-align: center;
}

.number {
  color: var(--very-dark-destaurated-blue);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 700;
  font-weight: bold;
  font-size: 18px;
}

.name {
  margin-top: 3px;
  font-family: "Kumbh Sans", sans-serif;
  color: var(--dark-gray);
}
